<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<style type="text/css">

.form-style-8{
	font-family: 'Open Sans Condensed', arial, sans;
	width: 500px;
	padding: 30px;
	background: #FFFFFF;
	margin: 50px auto;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
.form-style-8 h2{
	background: #4D4D4D;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #797979;
	font-size: 18px;
	font-weight: 100;
	padding: 20px;
	margin: -30px -30px 30px -30px;
}
.form-style-8 input[type="text"],
.form-style-8 input[type="date"],
.form-style-8 input[type="datetime"],
.form-style-8 input[type="email"],
.form-style-8 input[type="number"],
.form-style-8 input[type="search"],
.form-style-8 input[type="time"],
.form-style-8 input[type="url"],
.form-style-8 input[type="month"],
.form-style-8 input[type="password"],
.form-style-8 textarea,
.form-style-8 select 
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	margin-bottom: 10px;
	font: 16px Arial, Helvetica, sans-serif;
	height: 45px;
}
.form-style-8 textarea{
	resize:none;
	overflow: hidden;
}
.form-style-8 input[type="button"], 
.form-style-8 input[type="submit"]{
	-moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	-webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	box-shadow: inset 0px 1px 0px 0px #45D6D6;
	background-color: #2CBBBB;
	border: 1px solid #27A0A0;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
	padding: 8px 18px;
	text-decoration: none;
	text-transform: uppercase;
}
.form-style-8 input[type="button"]:hover, 
.form-style-8 input[type="submit"]:hover {
	background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
	background-color:#34CACA;
}
</style>
  </head>
  <body>
   
    <h1 align="center"><%= title %></h1>
    <p align="center">Welcome to <%= title %></p>
    <div class="form-style-8">
      <h2 style="color:white;">Quick Details </h2>
      <form method="post" action="signup">
        <input type="email" name="email" placeholder="Email" id="email" required/>
        <input type="text" name="fullname" placeholder="Full Name" id="fullname" required/>
        <input type="number" name="ssn" placeholder="SSN" id="ssn" required/>
        <input type="text" name="address" placeholder="Address" id="address" required/>
		<input type="text" name="credit" placeholder="Credit Card Number" id="credit"required/>
		<div class="form-group" >
			<label class="form">Expiration Date</label>
			<select name="month" id="month">
				<option value="01">January</option>
				<option value="02">February </option>
				<option value="03">March</option>
				<option value="04">April</option>
				<option value="05">May</option>
				<option value="06">June</option>
				<option value="07">July</option>
				<option value="08">August</option>
				<option value="09">September</option>
				<option value="10">October</option>
				<option value="11">November</option>
				<option value="12">December</option>
			</select>
			<select  name="year" id="year">
				<option value="2016"> 2016</option>
				<option value="2017"> 2017</option>
				<option value="2018"> 2018</option>
				<option value="2019"> 2019</option>
				<option value="2020"> 2020</option>
				<option value="2021"> 2021</option>
				<option value="2022"> 2022</option>
				<option value="2023"> 2023</option>
				<option value="2024"> 2024</option>
				<option value="2025"> 2025</option>
				<option value="2026"> 2026</option>
			</select>
		</div>
		<input type="submit" onclick="singupInfo()" value="Sign Up" /> 
      </form>
    </div>
    <script type="text/javascript">
      //auto expand textarea
      function adjust_textarea(h) {
          h.style.height = "20px";
          h.style.height = (h.scrollHeight)+"px";
	  }
	  function signupInfo(){
		  var login={};
       login.fullname= document.getElementById("fullname").value;
	   login.email = document.getElementById("email").value;
	   login.address = document.getElementById("address").value;
	   login.ssn = document.getElementById("ssn").value;
	   login.month = document.getElementById("month").value;
	   login.year = document.getElementById("year").value;
	   login.credit = document.getElementById("credit").value;
    
   console.log(ssn);
    $.ajax({url: "signup",
    type: "POST",
    data:login,
    success: function(result){
        if(result=="success"){
			alert("Successfully registered. You will be redirected to the dashboard.");
            window.location.href = 'home';
        } else{
        alert("Email or SSN is already present in our system");
        }
    }
});
    }
      </script>
  </body>
  
</html>